{{ if .Site.Author.google_vc }}
    <meta name="google-site-verification" content="{{ .Site.Author.google_vc }}" /> 
{{ end }} 
{{ if .Site.Author.bing_vc }}
    <meta name="msvalidate.01" content="{{ .Site.Author.bing_vc }}"> 
{{ end }} 
{{ if .Site.Author.alexa_vc }}
    <meta name="alexaVerifyID" content="{{ .Site.Author.alexa_vc }}"> 
{{ end }} 
{{ if .Site.Author.baidu_vc }}
    <meta name="baidu-site-verification" content="{{ .Site.Author.baidu_vc }}">
{{ end }}
{{ if .Site.Author.so_vc }}
    <meta name="360-site-verification" content="{{ .Site.Author.so_vc }}"> 
{{ end }}
{{ if .Site.Author.sogou_vc }}
    <meta name="sogou_site_verification" content="{{ .Site.Author.sogou_vc }}" />
{{ end }}